.bus-item {
    background-color: #EEE;
    padding: 5px;

    .item-name {
        font-size: 1.3rem;
    }

    .item-box {
        display: flex;
        flex-direction: column;

        .item-info {
            display: flex;

            .item-contact {
                flex-grow: 1;
            }
        }
    }
}