.business-cats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .business-cats {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 1070px) {

}

@media only screen and (max-width: 1440px) {
 
}