$light-blue: #81bfb7;
$orange: #ff9933;
$green :rgb(114, 170, 114);

.button-container {
    text-align: center;
        &.left, &.right {
            text-align: center;
        }
}

.feature-button {
    border-radius: 10px;
    border-color: transparent;
    padding: 8px;
    margin: 5px;
    min-width: 130px;
    font-size: 15px;
    cursor: pointer;

    &.spring {
        background-color: $light-blue;    
        color: white;
    }

    &.fall {
        background-color: $orange;    
        color: white;
    }

    &.summer {
        background-color: $green;    
        color: white;
    }

    &.winter {
        background-color: $light-blue;    
        color: white;
    }

    &.font-22 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 768px) {
    .button-container {
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
    }
}

@media only screen and (min-width: 1070px) {
    
}

@media only screen and (max-width: 1440px) {
 
}