$light-blue: #81bfb7;
$orange: #ff9933;
$green :rgb(114, 170, 114);

.feature {
    height: 250px;
    display: flex;
    background-repeat: no-repeat;
    &.left {
        justify-content: left;
    }
    &.right {
        justify-content: right;
    }
}

.feature-info {
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: column;

    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}


.feature-title {
    font-size: 2em;

    &.spring {
        color: $light-blue;
    }

    &.fall {
        color: $orange;
    }

    &.summer {
        color: $green;
    }

    &.winter {
        color: $light-blue;
    }
}

.feature-text {
    font-size: 1.3em;
    flex-grow: 1;
}