.feature-area {
    padding: 25px 50px 25px 50px;
}

.feature {
    height: 250px;
    display: flex;
    

    background-repeat: no-repeat;
    &.left {
        justify-content: left;
    }
    &.right {
        justify-content: right;
    }
}

.feature-info {
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: column;

    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}


.feature-title {
    font-size: 2em;

    
}

.feature-text {
    font-size: 1.3em;
    flex-grow: 1;
}