.info-title {
    text-align: center;
}

.info-text {
    text-align: center;
    font-size: 1.3em;
}

section.info {
    padding: 20px 10px 20px 10px;
}


@media only screen and (min-width: 768px) {
    section.info {
        padding: 20px 50px 20px 50px;
    }
}

@media only screen and (min-width: 1070px) {
    
}

@media only screen and (max-width: 1440px) {
 
}