$dark-blue: #002736;
$light-blue: #045D73;
$orange: #ff9933;
$bg-color: #f5f4f0;
$bg-border-color: #6e6e6e;
$text-color: #6e6e6e;

@media (min-width: 768px) {

    #slider-box {
        width: 100%;
        height: 430px;
        background-color: white;
        position: relative;
    }

    #slider {
        text-align: center;
    }

    .slider-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 430px;
    }

    .slider-info-box {
        position: relative;
        text-align: center;
        padding-top: 220px;

        &.black {
            color: black;
        }

        &.white {
            color: white;
        }
    }

    .slider-title {
        font-size: 50px;
    }

    .slider-subtitle {
        font-size: 25px;;
    }

    .slider-note {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        display: none;
        background-image: linear-gradient(rgba($orange, 0), $orange, $orange);
    }

    .s-note {
        text-align: center;
        padding-top: 37px;
        color: white;
        font-size: 25px;
        font-style: italic;
        font-weight: bold;
    }

    .slider-splash {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        background-color: $orange;

        width: 30%;
        display: none;
        padding: 10px;
        border-radius: 0px 0px 0px 10px;
        font-size: 20px;
        text-align: center;

        box-shadow: -2px 2px 2px black, -2px 0px 2px black;
    }
}