.cat-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#bus-boxes {
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    #bus-boxes {
        padding: 10px 50px 10px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
}

@media only screen and (min-width: 1070px) {

}

@media only screen and (max-width: 1440px) {
 
}