@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

$light-blue: #81bfb7;
$orange: #ff9933;
$green :rgb(114, 170, 114);

//Default theme is spring
$theme-l: #e5f5f5;
$theme-m: #69aca3;
$theme-d: #226d63;

body {
    margin: 0px;
    font-family: 'Sen', sans-serif;
}

.theme-l {
    background-color: $theme-l;
    color: #949aa8;
}

footer {
    height: 100px;
    background-color: grey;
}

.main-heading {
    font-size: 2.5rem;
}

.spring {
    color: $light-blue;
}

.fall {
    color: $orange;
}

.summer {
    color: $green;
}

.winter {
    color: $light-blue;
}

.d-bg {
    background-color: #EEE;    
}